{% extends "FrontCodingEquasiaBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('client') }}">Client</a>
        <span class="divider"></span>
    </li>
    <li>{{ entity.nameLanguage1 }}{% if entity.nameLanguage2 %} / {{ entity.nameLanguage2 }}{% endif %}</li>
{% endblock %}

{% block pagetitle %}{{ entity.nameLanguage1 }}{% endblock %}

{% block nav %}
    {% include "FrontCodingEquasiaBundle:Client:nav.html.twig" %}
{% endblock %}

{% block content -%}
    <h1>{{ entity.nameLanguage1 }}</h1>

    <table class="record_properties table table-bordered table-striped table-hover table-condensed" id="table_left">
        <tbody>
            <tr>
                <th>Name (English)</th>
                <td>{{ entity.nameLanguage1 }}</td>
            </tr>
            <tr>
                <th>Name (Native language)</th>
                <td>{{ entity.nameLanguage2 }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ entity.company.nameLanguage1 }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ entity.contact.firstnameLanguage1 }} {{ entity.contact.familynameLanguage1 }}</td>
            </tr>
            <tr>
                <th>Invoicing name of address (English)</th>
                <td>{{ entity.invoicingNameOfAddressLanguage1 }}</td>
            </tr>
            <tr>
                <th>Invoicing name of address (Native language)</th>
                <td>{{ entity.invoicingNameOfAddressLanguage2 }}</td>
            </tr>
            <tr>
                <th>Invoicing address line 1 (English)</th>
                <td>{{ entity.invoicingAddressLine1Language1 }}</td>
            </tr>
            <tr>
                <th>Invoicing address line 1 (Native language)</th>
                <td>{{ entity.invoicingAddressLine1Language2 }}</td>
            </tr>
            <tr>
                <th>Invoicing address line 2 (English)</th>
                <td>{{ entity.invoicingAddressLine2Language1 }}</td>
            </tr>
            <tr>
                <th>Invoicing address line 2 (Native language)</th>
                <td>{{ entity.invoicingAddressLine2Language2 }}</td>
            </tr>
            <tr>
                <th>Invoicing city (English)</th>
                <td>{{ entity.invoicingCityLanguage1 }}</td>
            </tr>
            <tr>
                <th>Invoicing city (Native language)</th>
                <td>{{ entity.invoicingCityLanguage2 }}</td>
            </tr>
            <tr>
                <th>Invoicing region (English)</th>
                <td>{{ entity.invoicingRegionLanguage1 }}</td>
            </tr>
            <tr>
                <th>Invoicing region (Native language)</th>
                <td>{{ entity.invoicingRegionLanguage2 }}</td>
            </tr>
            <tr>
                <th>Invoicing zip / postal code</th>
                <td>{{ entity.invoicingZipPostalCode }}</td>
            </tr>
            <tr>
                <th>Invoicing country (English)</th>
                <td>{{ entity.invoicingCountryLanguage1 }}</td>
            </tr>
            <tr>
                <th>Invoicing country (Native language)</th>
                <td>{{ entity.invoicingCountryLanguage2 }}</td>
            </tr>
            <tr>
                <th>Visiting name of address (English)</th>
                <td>{{ entity.visitingNameOfAddressLanguage1 }}</td>
            </tr>
            <tr>
                <th>Visiting name of address (Native language)</th>
                <td>{{ entity.visitingNameOfAddressLanguage2 }}</td>
            </tr>
            <tr>
                <th>Visiting address line 1 (English)</th>
                <td>{{ entity.visitingAddressLine1Language1 }}</td>
            </tr>
            <tr>
                <th>Visiting address line 1 (Native language)</th>
                <td>{{ entity.visitingAddressLine1Language2 }}</td>
            </tr>
            <tr>
                <th>Visiting address line 2 (English)</th>
                <td>{{ entity.visitingAddressLine2Language1 }}</td>
            </tr>
            <tr>
                <th>Visiting address line 2 (Native language)</th>
                <td>{{ entity.visitingAddressLine2Language2 }}</td>
            </tr>
            <tr>
                <th>Visiting city (English)</th>
                <td>{{ entity.visitingCityLanguage1 }}</td>
            </tr>
            <tr>
                <th>Visiting city (Native language)</th>
                <td>{{ entity.visitingCityLanguage2 }}</td>
            </tr>
            <tr>
                <th>Visiting region (English)</th>
                <td>{{ entity.visitingRegionLanguage1 }}</td>
            </tr>
            <tr>
                <th>Visiting region (Native language)</th>
                <td>{{ entity.visitingRegionLanguage2 }}</td>
            </tr>
            <tr>
                <th>Visiting zip / postal code</th>
                <td>{{ entity.visitingZipPostalCode }}</td>
            </tr>
            <tr>
                <th>Visiting country (English)</th>
                <td>{{ entity.visitingCountryLanguage1 }}</td>
            </tr>
            <tr>
                <th>Visiting country (Native language)</th>
                <td>{{ entity.visitingCountryLanguage2 }}</td>
            </tr>
{#             <tr>
                <th>Moderator</th>
                <td>{{ entity.moderator }}</td>
            </tr>
            <tr>
                <th>Stamp</th>
                <td>{{ entity.stamp|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr> #}
        </tbody>
    </table>

    <a href="{{ path('client') }}" class="btn btn-primary btn-lg">
        Back to the list
    </a>
    <a href="{{ path('client_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-lg">
        Edit
    </a>
    {{ form(delete_form) }}

{% endblock %}
