{% extends "FrontCodingEquasiaBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('jurisdiction') }}">Jurisdiction</a>
        <span class="divider"></span>
    </li>
    <li>{{ entity.nameLanguage1 }}{% if entity.nameLanguage2 %} / {{ entity.nameLanguage2 }}{% endif %}</li>
{% endblock %}

{% block pagetitle %}{{ entity.nameLanguage1 }}{% if entity.nameLanguage2 %} / {{ entity.nameLanguage2 }}{% endif %}{% endblock %}

{% block nav %}
    {% include "FrontCodingEquasiaBundle:Jurisdiction:nav.html.twig" %}
{% endblock %}

{% block content -%}
    <h1>{{ entity.nameLanguage1 }}{% if entity.nameLanguage2 %} / {{ entity.nameLanguage2 }}{% endif %}</h1>

    {{ form(edit_form) }}

    <a href="{{ path('jurisdiction') }}" class="btn btn-primary btn-lg">
        Back to the list
    </a>
    
    {{ form(delete_form) }}

{% endblock %}
